/<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pagina_principal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light d-flex align-items-center justify-content-center vh-100">
    <div class="card shadow-lg p-4 text-center" style="max-width: 650px; width: 100%;">
        <!-- Título -->
        <div class="card-header bg-primary text-white rounded">
            <h1 class="h3 mb-0">Sistema de Biblioteca Escolar</h1>
        </div>
        <div>
            <p class="mt-3">Bem-vindo(a) à nossa biblioteca online! Explore nosso acervo vasto e encontre seu próximo livro favorito. 📚✨</p>
        </div>
        <div class="mt-4">
            <p>Relatorios precisara de uma apresentar</p>
            <p>lista de atrasos(essa lista contara apenas com o tempo de atraso em dia exemplo bernardo pegou livro x esta 5 dias atrasado)</p>
            <p>Lista com todos os emprestimos ja feitos trazendo todas as informações do livro e do aluno e de quando foi empresado e se a devolução esta em atraso</p>
            <a href="" class="btn btn-primary btn-lg">
                Relatorios
            </a>
        </div>
        <div class="mt-4">
            <p>Uma função para fazer emprestimos e cadastrar livros </p>
            <a href="" class="btn btn-primary btn-lg">
                inserir Dados
            </a>
        </div>
        <div class="mt-4">
            <p>Uma função para devolver livros alterar nomes e dados de alunos e livros </p>
            <a href="" class="btn btn-primary btn-lg">
                Alterar Dados
            </a>
        </div>
        <div class="mt-4">
            <p>Uma função para remover dados Exemplos de remoção de livros e alunos</p>
            <a href="" class="btn btn-primary btn-lg">
                Excluir dados
            </a>
        </div>
    </div>
</body>
</html>